body {
    font-family: Arial, sans-serif;
    background: #000;
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,0,50,1) 0%, rgba(0,0,0,1) 70%);
    z-index: -1;
    animation: backgroundMove 10s infinite alternate ease-in-out;
}

@keyframes backgroundMove {
    from { background-position: 0 0; }
    to { background-position: 100% 100%; }
}

.container {
    background: rgba(255, 255, 255, 0.15);
    padding: 60px;
    border-radius: 30px;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.9);
    width: 600px;
    text-align: center;
    animation: float 4s ease-in-out infinite;
}

h2 {
    color: #00ffff;
}

#originalUrl {
   text-align: center; 
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

input[type="text"] {
    width: 90%;
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #00ffff;
    border-radius: 15px;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 20px;
}

button {
    padding: 20px 40px;
    background-color: #00ffff;
    color: #111;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 0 20px #00ffff;
    font-size: 20px;
}

button:hover {
    background-color: #00ccff;
    box-shadow: 0 0 30px #00ffff;
    transform: scale(1.1);
}

.short-url {
    margin-top: 25px;
    color: #00ffff;
    font-size: 22px;
}

.short-url a {
    color: #00ffff;
    text-decoration: none;
    transition: 0.4s;
}

.short-url a:hover {
    text-shadow: 0 0 15px #00ffff;
}
