body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    gap: 1.5rem;
}
.card {
    
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 85mm; /* Standard card width */
    height: 55mm; /* Standard card height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #f9f9f9;
    position: relative;
}
.card img {
    width: 70px; /* Increased size of the face image */
    height: 70px; /* Increased size of the face image */
    margin-bottom: 60px; /* Move the image down */
    object-fit: cover;
    margin-right: 10px;
    border: 2px solid #ddd;
}

.QR_code {
    width: 80px; /* Size of the QR code */
    height: 80px; /* Size of the QR code */
    position: absolute;
    top: 145px;
    left: 10px;
    object-fit: cover;
    border: 2px solid #ddd;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 80px); /* Adjusted width to account for larger image */
    padding: 5px 0;
}
.info div {
    margin-bottom: 5px;
    text-align: left;
    line-height: 1.5;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 16px; /* Increased font size */
    position: relative; /* Position relative for the line */
}
.info div::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust this value to move the line up or down */
    width: 100%;
    height: 1px;
    background-color: #ccc;
}




